tei-div {
  display: block;
}
tei-h1 {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: x-large;
}
tei-title {
  display: block;
  margin-top: 1em;
  margin-bottom: 0.4em;
  font-size: xx-large;
}
tei-p {
  display: block;
  margin-top: .5em;
  margin-bottom: .5em;
}
tei-list[type=simple] {
  list-style-type: none;
}
tei-list[type=simple]>tei-item {
  display: list-item;
}
tei-list[type=enumerate] {
  list-style-type: decimal;
}
tei-list[type=enumerate]>tei-item {
  display: list-item;
}
tei-hi[rend=italics] {
  font-style: italic;
}
tei-lb:before {
  white-space: pre;
  content: "\A";
}
tei-surface {
  float:left;
  width:50%;
}
img {
  max-width:960px;
  min-width:240px;
}
tei-hi{
  text-decoration: underline;
}
tei-surface tei-zone:nth-of-type(n+2) {
  display: none;
  float:left;
  width:50%;
}
tei-div1 tei-div2:nth-of-type(n+2) {
  display: none;
}
tei-div#en {
  display: inline-block;
  float:left;
  width:2em;
}
tei-div#ja{
  display: inline-block;
  float:left;
  width:2em;
}
tei-div#de{
  display: inline-block;
  float:left;
  width:2em;
}
tei-div#fr{
  display: inline-block;
  float:left;
  width:2em;
}
tei-div#mhd{
  display: inline-block;
  float:left;
  width:2em;
}
tei-div#nl{
  display: inline-block;
  float:left;
  width:2em;
}
tei-div#nb{
  display: inline-block;
  float:left;
  width:2em;
}
tei-div#other{
  display: inline-block;
  float:left;
  width:4em;
}